%table
  %tr
    %th Copy
    %th Good
    %th Bad

  - @essays.each do |essay|
    %tr
      %td= essay.copy
      %td
        = link_to '(笑)', essay, {method: :put, class: 'emo'}
        = essay.good_count
      %td
        %a.emo (悲)
        = essay.bad_count

%br
