%table
  %tr
    %th Copy
    %th Good
    %th Bad

  - @essays.each do |essay|
    %tr
      %td= essay.copy
      %td
        %span.emo (笑)
        =essay.good_count
      %td
        %span.emo (悲)
        =essay.bad_count

%br
