%table
  %tr
    %th Copy
    %th Good
    %th Bad

  - @essays.each do |essay|
    %tr
      %td= essay.copy
      %td= essay.good_count
      %td= essay.bad_count

%br

= link_to 'New Essay', new_essay_path
